.DS_Store
debug.log
.serve-headless*.pid
node_modules/
client/node_modules/
backend/vendor/
backend/node_modules/
backend/.env
backend/database/*.sqlite
backend/database/*.sqlite-journal
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
!backend/storage/logs/.gitignore
!backend/storage/framework/**/.gitignore
!backend/bootstrap/cache/.gitignore
client/dist/
.idea/
*.log
